<h1>Login To Access Your Gym Buddy</h1>
<br>
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Login">
</form>
<br>
<h3>Want to finally get in shape?! Signup below for Gym Buddy!</h3>
<form action="/signup" method="GET">
  <input type="submit" value="Sign Up">
</form>
