  <h1>Welcome, <%=current_user.username.capitalize%>!</h1>
<br>
<h2>Here are your workouts on Gym Buddy:</h2>
<p>Click on an exercise to edit or delete:</p>


<% current_user.exercises.each do |exercise| %>
  <ul>
    <li><a href="/exercises/<%=exercise.id %>"><%= exercise.name %> - <%= exercise.muscle_group %></a></li>
  </ul>
<% end %>

  <br>
  <a href="/exercises/new">Add New Exercise</a><br>
  <a href="/logout">Log Out</a>
